@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Gabriela&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gabriela&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');


body{
    background-color: #000a12;
    overflow: hidden;
}

p{
    color: #4f5b62;
}

footer{
    height: 1000px;
}

.headerText{
    font-family: 'Yeseva One', cursive;
}

.ancientText
{
    font-size: 36pt;
    text-align: center;
    font-family: 'MedievalSharp', Caveat, cursive;
}

.predictionText
{
    display: none;
    padding: 25px;
}

.loaded
{
    display: block;
}

.selectedText{
    animation: select 2s;
    animation-fill-mode:forwards;
}

@keyframes select {
    0%{
        color: #4f5b62;
    }
    100%
    {
        color: #ffea00;
    }
}


.otherText{
    font-family: 'Gabriela', serif;
}

.welcome-text{
    text-align: center;
    font-size: 72pt;
}

.promo-text{
    text-align: center;
    font-size: 28pt;
}


.shadow
{
    text-shadow: 0 1px 1px #000000;
}


#predictions-container
{
    //padding-top: 50%;
}

#startButton{
    text-align: center;
    font-size: 36pt;
    font-family: 'Caveat', cursive;
}
#startButton:hover
{
    color: #ff3d00;
    cursor: pointer;
}
#top
{
    height: 100px;
}
